@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-gray-950 text-gray-300;
  overflow-x: hidden;
}

.set {
  transform: translateY(200%);
}

.initial {
  transform: translateY(-100%);
}

.up {
  transform: translateY(-100%);
  opacity: 0;
}
